<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Magazines</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/templatemo_style.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>   
        <!-- 
        Composite Template 
        http://www.templatemo.com/preview/templatemo_444_composite
        -->
  </head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse">

<!-- <div style="text-align: center;">
  <img src="C:\Users\Sree Vignesh\OneDrive\Desktop\minor_project\mainproject\images\logo.png">
</div> -->

<style type="text/css">
    .sticktop{
      position: -webkit-sticky;
      position: sticky;
      display: block;
      top: 0px;
      z-index: 100;

    }
  </style>
  <div class="sticktop">
    <nav class="navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header navbar-left">
        <a class="navbar-brand" href="/magazine"><img class="img-fluid"src="../images/logo1.png" alt="" width="250" height="50" class="d-inline-block align-text-top"></a>
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon icon-bar"></span>
          <span class="icon icon-bar"></span>
          <span class="icon icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        
        <ul class="nav navbar-nav ">
          <li><a href="/" class="menu " >NEWS</a></li>
          <li><a href="/magazine" class="active menu" style="background-color: orange">Magazines</a></li>
          
          <li><a href="#contact" class="menu">Contact</a></li>
          <li style="position: relative; left: 100px;"><a href="/login" class="menu">LOG IN</a></li>
          <li style="position: relative; left: 100px;"><a href="/register" class="menu">SIGN UP</a></li> 
        </ul>
      </div>
    </div>
  </nav>
</div>
<div class="container">
  <div class="row">
      <br><br>
    <% for(var i=magsList.length-1; i >=0 ; i--) { %>
      <div class="col-md-6 how-img" style="margin: auto; text-align: center;">                        
          <img class=" img-thumbnail" src="<%=magsList[i].image%>" width="300" />
      </div>
      
      <div class="col-md-6">
        <div class="card w-75">
          <div class="card-body">
          <h3 class="card-title"style=""><b></b><%=magsList[i].title%> - <%=magsList[i].issued %></h3>
          <p class="card-text" style="white-space:pre-line; text-align: justify "><b>Description:</b><%= magsList[i].description %> </p>
          <div style="margin: auto; text-align: center;">
          <a href="<%=magsList[i].pdf%>" download="<%=magsList[i].title%>"><button class="btn btn-primary btn-lg"><span class="fa fa-download"></span> Download</button></a> </p>
          </div>
        </div>
      </div>
    </div>
      <%}%>
      </div>
</div>
  <!-- <div class="container">
    <div class="row">
        <br><br>
      <% for(var i=magsList.length-1; i >=0 ; i--) { %>
        <div style= "margin:20px;" style="width: 50%;height: 50%; " >                
            <div style="margin: auto; text-align: center;"><img class="img-fluid" style="max-width: 100%; height: auto;" src="<%=magsList[i].image%>" width="300" /></div>
        </div>
        <br>
        <div style="padding-left: 20px; ">
            <h2 style="padding-left: 5px; text-align: justify;"><b>Title:</b><%=magsList[i].title%> - <%=magsList[i].issued%></h2>
            <p class="col-sm-8 news-add"style="padding-left: 5px;white-space:pre-line; text-align: justify "><b>Description:</b><%= magsList[i].description %> </p>
            <a href="<%=magsList[i].pdf%>" download="<%=magsList[i].title%>"><button><span class="fa fa-download"></span> Download</button></a> </p>
        </div>
        <%}%>
        </div>
    </div> -->
<br><hr style="margin-left: 5px;margin-right: 5px; height: 1px; background: gray;"><br>
<script>
  function submitform(id){
    document.getElementById(id).submit();
  }
  </script>
  
    <div class="container">
      <div class="row">
        <% for(var i=0; i < rec_mags.length ; i++) { %>
          <form action="<%=rec_mags[i].id%>" method="GET" id="<%=rec_mags[i].id%>" onclick="submitform(this.id)">
            <div class="col-xl col-lg-3 col-md-4 col-sm-6 pb-4">
              <div class="card card-block" style="padding-left: 10px;padding-top: 20px; " >
                  <div style="margin: auto; text-align: center;">
                  <img class="card-img-top img-fluid"style="max-width: 100%;" src="<%=rec_mags[i].image%>" alt="Card image cap" height="300px">
                </div>
                  <h4 id="title" style="text-align: center; white-space: nowrap;"><%=rec_mags[i].title%></h4>
              </div>
              </div>
        </form>
          <%}%>
      </div>
    </div>
  

</body>
  <script src="../js/jquery.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/smoothScroll.js"></script>
  <script src="../js/jquery.flexslider.js"></script>
  <!-- <script src="ejs.min.js"></script> -->

</html>